amqp==5.3.1 ; python_version >= "3.10" and python_version < "3.14"
asgiref==3.8.1 ; python_version >= "3.10" and python_version < "3.14"
async-timeout==5.0.1 ; python_version >= "3.10" and python_full_version < "3.11.3"
billiard==4.2.1 ; python_version >= "3.10" and python_version < "3.14"
cachetools==5.5.2 ; python_version >= "3.10" and python_version < "3.14"
celery==5.5.0 ; python_version >= "3.10" and python_version < "3.14"
certifi==2025.1.31 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "3.14"
click-didyoumean==0.3.1 ; python_version >= "3.10" and python_version < "3.14"
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "3.14"
click-repl==0.3.0 ; python_version >= "3.10" and python_version < "3.14"
click==8.1.8 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and (sys_platform == "win32" or platform_system == "Windows")
django-cors-headers==4.7.0 ; python_version >= "3.10" and python_version < "3.14"
django==5.1.6 ; python_version >= "3.10" and python_version < "3.14"
djangorestframework-simplejwt==5.5.0 ; python_version >= "3.10" and python_version < "3.14"
djangorestframework==3.15.2 ; python_version >= "3.10" and python_version < "3.14"
drf-yasg==1.21.10 ; python_version >= "3.10" and python_version < "3.14"
google-api-core==2.24.1 ; python_version >= "3.10" and python_version < "3.14"
google-auth==2.38.0 ; python_version >= "3.10" and python_version < "3.14"
google-cloud-core==2.4.2 ; python_version >= "3.10" and python_version < "3.14"
google-cloud-storage==3.1.0 ; python_version >= "3.10" and python_version < "3.14"
google-crc32c==1.6.0 ; python_version >= "3.10" and python_version < "3.14"
google-resumable-media==2.7.2 ; python_version >= "3.10" and python_version < "3.14"
googleapis-common-protos==1.68.0 ; python_version >= "3.10" and python_version < "3.14"
gunicorn==23.0.0 ; python_version >= "3.10" and python_version < "3.14"
idna==3.10 ; python_version >= "3.10" and python_version < "3.14"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "3.14"
kombu==5.5.2 ; python_version >= "3.10" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.14"
pillow==11.1.0 ; python_version >= "3.10" and python_version < "3.14"
prompt-toolkit==3.0.50 ; python_version >= "3.10" and python_version < "3.14"
proto-plus==1.26.0 ; python_version >= "3.10" and python_version < "3.14"
protobuf==5.29.3 ; python_version >= "3.10" and python_version < "3.14"
psycopg2-binary==2.9.10 ; python_version >= "3.10" and python_version < "3.14"
pyasn1-modules==0.4.1 ; python_version >= "3.10" and python_version < "3.14"
pyasn1==0.6.1 ; python_version >= "3.10" and python_version < "3.14"
pyjwt==2.9.0 ; python_version >= "3.10" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.14"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.14"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.14"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.14"
qrcode==8.0 ; python_version >= "3.10" and python_version < "3.14"
redis==5.2.1 ; python_version >= "3.10" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.14"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.14"
sqlparse==0.5.3 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version == "3.10"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.14"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.3.0 ; python_version >= "3.10" and python_version < "3.14"
vine==5.1.0 ; python_version >= "3.10" and python_version < "3.14"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.14"
